/*------------------------------
    Blog Area
------------------------------*/
.blog-area{
    padding: 86px 0px 100px;
    .blog-item{
        box-shadow: 0px 5px 20px -6px rgba(184,184,184,1);
        .blog-img {
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                height: auto; 
                @include transition(.3s ease);  
                &:hover{
                    -webkit-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                        transform: scale(1.2); 
                 @include transition($transition-long);
                }            
            } 
        }
        .blog-text {
        padding: 30px 30px;
        background: #f8f8f8;
        h3{
            font-weight: 500;
        }
        a{
            font-weight: 600;
            color: $secondary-color;
        }
        }
        .blog-2 {
            display: inline-block;
            float: left;
            margin-right: 20px;
            
        }
        .blog-text2 {
            padding: 58px 30px;
            background: #f8f8f8;
            h4{
                font-weight: 500;
                color: $secondary-color;
            }
            a{
                font-weight: 600;
                color: $secondary-color;
            }
            }

    }
}