/*------------------------------
    Join Area
------------------------------*/
.join-area {
    position: relative;
    z-index: 0;
    padding: 100px 0px 80px;
    overflow: hidden;
    &:after {
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(255,255,255, 0.1);
        content: '';
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &.join-bg {
        background-image: url(../img/bg/join-bg.jpg);
        background-size: cover;
        background-position: center;
    }
    .join-donate{
        display: flex;
        justify-content: space-between;
        .join{
            p{
                font-size: 24px;
                color: #fff;
            }
        }
        .donate{
            float: right;
        }
    }
}